<!-- template -->
 <!-- On form submit, we call the Login event with the username and the password from the inputs -->
 <p>Force Login (uses admin / asdfasdf, form values are not considered at all)</p>
 <form (submit)="login($event, username.value, password.value)">
   <label for="username">Username</label>
   <!-- Using #username, we can identify this input to get the value on the form's submit event -->
   <input type="text" #username class="form-control" id="username" placeholder="Username">
   <label for="password">Password</label>
   <!-- Using #password we can identify this input to get its value -->
   <input type="password" #password class="form-control" id="password" placeholder="Password">
   <button type="submit">Submit</button>
 </form>
<br/>
<br/>
<br/>
<div>
  Refresh token test (a refresh_token must be in the localStorage first).
  <button type="submit" (click)="refreshAccessToken()">Refresh</button>
</div>
<br/>
<br/>
<br/>
<div>
  <form ngNoForm action="{{socialProviderLinks.facebook}}" method="POST">
    <button type="submit">Signin With Facebook</button>
  </form>
</div>