<p>
  Chat websocket test
</p>

<div>
 CHAT-WEBSOCKET status: {{status}}
</div>

<div [ngSwitch]="status">
  <form (submit)="connectChat()" *ngSwitchWhen="'OFFLINE'">
    <button type="submit">Connect</button>
  </form>

  <form (submit)="disconnectChat()" *ngSwitchWhen="'ONLINE'">
    <button type="submit">Disconnect</button>
  </form>
</div>

<form (submit)="sendChat()">
  <input [(ngModel)]="chatMessage" placeholder="Enter your message!" (keypress)="enableTypingAction()">
  <button type="submit">Send</button>
</form>

<ul>
  <li *ngFor="#chatmsgs of displayChatMessages()">{{chatmsgs}}</li>
</ul>