<sd-error-box [error]="error"></sd-error-box>


<form [formGroup]="form.formGroup" (ngSubmit)="submit()">
   <label for="previousPassword">
        Forms.AuthenticationModule.PasswordChange.fields.currentPassword.label
   </label>
   <md-input-container>
        <input mdInput placeholder="Forms.AuthenticationModule.PasswordChange.fields.currentPassword.placeholder"
                    type="password" formControlName="previousPassword" required>
        <sd-error-field-label [form]="form" fieldname="previousPassword"></sd-error-field-label>
   </md-input-container>
   <br/>

   <label for="newPassword">Forms.AuthenticationModule.PasswordChange.fields.newPassword.label</label>
   <md-input-container>
        <input mdInput placeholder="Forms.AuthenticationModule.PasswordChange.fields.newPassword.placeholder" 
                                    type="password" formControlName="newPassword" required>
        <sd-error-field-label [form]="form" fieldname="newPassword"></sd-error-field-label>
   </md-input-container>
   <br/>

   <label for="newPasswordConfirm">Forms.AuthenticationModule.PasswordChange.fields.newPasswordConfirm.label</label>
   <md-input-container>
    <input mdInput placeholder="Forms.AuthenticationModule.PasswordChange.fields.newPasswordConfirm.placeholder" 
                type="password" formControlName="newPasswordConfirm" required>
    <sd-error-field-label [form]="form" fieldname="newPasswordConfirm"></sd-error-field-label>
   </md-input-container>
   <br/>

    <p>
        <sd-form-reset-button [host]="this"></sd-form-reset-button>
        <sd-form-submit-button [host]="this"></sd-form-submit-button>
    </p>
</form>