<!-- template -->
<sd-error-box [error]="error"></sd-error-box>

<form [formGroup]="form.formGroup" (ngSubmit)="submit()">
    <p>
        <label for="username">TODO translate:Forms.AuthenticationModule.LostPassword.fields.username.label</label>
        <md-input-container>
            <input mdInput placeholder="TODO translate:Forms.AuthenticationModule.LostPassword.fields.username.placeholder" 
                    type="text" formControlName="username" required minlength="6" maxlength="12" pattern="[a-zA-Z ]*">
        </md-input-container>
        <sd-error-field-label [form]="form" fieldname="username"></sd-error-field-label>
    </p>
    <p>
        <sd-form-reset-button [host]="this"></sd-form-reset-button>
        <sd-form-submit-button [host]="this"></sd-form-submit-button>
    </p>
</form>
