<!-- template -->

Restoring password for : {{form.username}}
Confirmation token : {{form.lostPasswordToken}}

<sd-error-box [error]="error"></sd-error-box>

<form [formGroup]="form.formGroup" (ngSubmit)="submit()">

   <label for="username">TODO translate:Forms.AuthenticationModule.RestorePassword.fields.username.label'</label>
   <md-input-container><input mdInput placeholder="TODO translate:Forms.AuthenticationModule.RestorePassword.fields.username.placeholder" 
            type="text" formControlName="username" required>
   </md-input-container>
   <sd-error-field-label [form]="form" fieldname="username"></sd-error-field-label>
   <br/>

   <label for="newPassword">TODO translate:Forms.AuthenticationModule.RestorePassword.fields.newPassword.label</label>
   <md-input-container><input mdInput placeholder="TODO translate:Forms.AuthenticationModule.RestorePassword.fields.newPassword.placeholder"
             type="password" formControlName="newPassword" required>
    </md-input-container>
   <sd-error-field-label [form]="form" fieldname="newPassword"></sd-error-field-label>
   <br/>

   <label for="newPasswordConfirm">TODO translate:Forms.AuthenticationModule.RestorePassword.fields.newPasswordConfirm.label</label>
   <md-input-container><input mdInput placeholder="TODO translate:Forms.AuthenticationModule.RestorePassword.fields.newPasswordConfirm.placeholder"
             type="password" formControlName="newPasswordConfirm" required>
   </md-input-container>
   <sd-error-field-label [form]="form" fieldname="newPasswordConfirm"></sd-error-field-label>
   <br/>

    <p>
        <sd-form-reset-button [host]="this"></sd-form-reset-button>
        <sd-form-submit-button [host]="this"></sd-form-submit-button>
    </p>
</form>